<<<<<<< HEAD
@media (min-device-width: 320px) and (max-device-width: 479px) {

    html,
    body {
=======
@media screen and (min-width: 300px) and (max-width: 400px) {
    html, body {
>>>>>>> a60dc55 (Media queries to fix some rendering defects.)
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 0;
        font-size: 1em;
        line-height: 1.2;
        overflow-x: hidden;
        overflow-x: clip !important;
    }
<<<<<<< HEAD

    img[alt="tls-one-rtt"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    img[alt="key_exchange_start"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="server_hello_env_binding"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="client_handshake_secret_calc"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="tls_ct_rec_01"] {
        padding: 0;
        margin-left: 0;
        width: 90%;
        height: 90%;
        display: block;
    }

    img[alt="tls_ct_rec_02"] {
        padding: 0;
        margin-left: 0;
        width: 90%;
        height: 90%;
        display: block;
    }

    img[alt="tls_ct_rec_03"] {
        padding: 0;
        margin-left: 0;
        width: 90%;
        height: 90%;
        display: block;
    }

    img[alt="inner_pt_01"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    img[alt="inner_pt_02"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    img[alt="inner_pt_03"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    #conditional-hide-math {
        display: none;
    }

    #key_exchange_start-hide-math {
        display: none;
    }
}

@media (min-device-width: 480px) and (max-device-width: 767px) {

    html,
    body {
=======
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    html, body {
>>>>>>> a60dc55 (Media queries to fix some rendering defects.)
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
        font-size: 1em;
        line-height: 1.2;
        overflow-x: hidden;
        overflow-x: clip !important;
    }
<<<<<<< HEAD

    img[alt="tls-one-rtt"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    img[alt="key_exchange_start_"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="server_hello_env_binding"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="client_handshake_secret_calc"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="tls_ct_rec_01"] {
        padding: 0;
        margin-left: 0;
        width: 90%;
        height: 90%;
        display: block;
    }

    img[alt="tls_ct_rec_02"] {
        padding: 0;
        margin-left: 0;
        width: 90%;
        height: 90%;
        display: block;
    }

    img[alt="tls_ct_rec_03"] {
        padding: 0;
        margin-left: 0;
        width: 90%;
        height: 90%;
        display: block;
    }

    img[alt="inner_pt_01"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    img[alt="inner_pt_02"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    img[alt="inner_pt_03"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    #key_exchange_start-hide-math {
        display: none;
    }

    #conditional-hide-math {
        display: none;
    }
}

@media (min-device-width: 768px) and (max-device-width: 1023px) {

    html,
    body {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
        font-size: 1.1em;
=======
}

@media="screen and (min-width: 801px) and (max-width: 1300px) {
    html, body {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        padding: 0;
        font-size: 1.2em;
>>>>>>> a60dc55 (Media queries to fix some rendering defects.)
        line-height: 1.2;
        overflow-x: hidden;
        overflow-x: clip !important;
    }
<<<<<<< HEAD

    img[alt="tls-one-rtt"] {
        padding: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    #key_exchange_start-hide-math {
        display: none;
    }

    img[alt="key_exchange_start"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="server_hello_env_binding"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="client_handshake_secret_calc"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="tls_ct_rec_01"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="tls_ct_rec_02"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="tls_ct_rec_03"] {
        padding: 0;
        margin-left: 0;
        width: 102%;
        height: 102%;
        display: block;
    }

    img[alt="inner_pt_01"] {
        padding: 0;
        margin-left: 0;
        width: 80%;
        height: 80%;
        display: block;
    }

    img[alt="inner_pt_02"] {
        padding: 0;
        margin-left: 0;
        width: 80%;
        height: 80%;
        display: block;
    }

    img[alt="inner_pt_03"] {
        padding: 0;
        margin-left: 0;
        width: 80%;
        height: 80%;
        display: block;
    }

    #key_exchange_start-hide-math {
        display: none;
    }

    #conditional-hide-math {
        display: none;
    }
}

@media (min-device-width: 1024px) {

    html,
    body {
        width: 86%;
        margin-left: 7%;
        margin-right: 7%;
        padding: 0;
        font-size: 1.1em;
        line-height: 1.2;
        overflow-x: hidden;
        overflow-x: clip !important;
    }

    img[alt="tls-one-rtt"] {
        display: none;
    }

    img[alt="key_exchange_start"] {
        display: none;
    }

    img[alt="server_hello_env_binding"] {
        display: none;
    }

    img[alt="client_handshake_secret_calc"] {
        display: none;
    }

    img[alt="tls_ct_rec_01"] {
        display: none;
    }

    img[alt="tls_ct_rec_02"] {
        display: none;
    }

    img[alt="tls_ct_rec_03"] {
        display: none;
    }

    img[alt="inner_pt_01"] {
        display: none;
    }

    img[alt="inner_pt_02"] {
        display: none;
    }

    img[alt="inner_pt_03"] {
        display: none;
    }

    #key_exchange_start-hide-math {
        display: block;
    }

    #conditional-hide-math {
        display: block;
    }
=======
>>>>>>> a60dc55 (Media queries to fix some rendering defects.)
}

img[alt="client_hello_layout"] {
    width: 90%;
    height: 80%;
    display: block;
}

img[alt="server_hello_layout"] {
    width: 90%;
    height: 80%;
    display: block;
}

img[alt="key_schedule"] {
    width: 100%;
    height: 100%;
    display: block;
}

.math {
    font-size: 0.8em;
}
<<<<<<< HEAD

#hide {
    display: none;
}
=======
>>>>>>> a60dc55 (Media queries to fix some rendering defects.)
