@media screen and (min-width: 300px) and (max-width: 400px) {
    html, body {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        padding: 0;
        font-size: 1em;
        line-height: 1.2;
        overflow-x: hidden;
        overflow-x: clip !important;
    }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    html, body {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
        font-size: 1em;
        line-height: 1.2;
        overflow-x: hidden;
        overflow-x: clip !important;
    }
}

@media="screen and (min-width: 801px) and (max-width: 1300px) {
    html, body {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        padding: 0;
        font-size: 1.2em;
        line-height: 1.2;
        overflow-x: hidden;
        overflow-x: clip !important;
    }
}

img[alt="client_hello_layout"] {
    width: 90%;
    height: 80%;
    display: block;
}

img[alt="server_hello_layout"] {
    width: 90%;
    height: 80%;
    display: block;
}

.math {
    font-size: 0.8em;
}
